div#fade-to-color {
  background: linear-gradient(to top, rgb(24, 32, 23) 20%, rgba(24, 32, 23, 0));
  margin-top: -20%;
  height: 100px;
}

div#BG {
  display: flex;
  height: auto;
  flex-direction: column;
  background-color: rgba(24, 32, 23);
  color: #e8bb89;
}
div#mainContainer {
  font-size: 1.5rem;
  background-color: rgb(24, 32, 23);
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 7%;
  font-family: monospace;
}

h3 {
  text-decoration: underline;
}

.underline{
  border-bottom: 1px solid  ;
}

div#mainContainer p {
  font-size: small;
  font-family: monospace;
}
li {
  font-size: 10px;
}

/* * {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  color: #e8bb89;
}

div.mainContainer {
  font-size: 1.5rem;
  display: flex;
  position: absolute;
  border: 5px solid red;
  flex-direction: column;
  margin: 300px;
}

div.mainContainer h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
 */
