.card img {
  height: 300px;
  min-height: 150px;
}
.card {
  background-color: #e8bb89;
  margin: 20px 0;
  width: 90vw;
}
.card * {
  background-color: rgb(33, 44, 31);
  color: #e8bb89;
}

@media screen and (min-width: 840px) {
  .card {
    margin: 20px;
    width: 20vw;
    max-height:50vh ;
    overflow: scroll;
  }
}
