.navbar--mainContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #1b201167;
}
Link {
  text-decoration: none;
}

.navbar--subContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 100px;
  align-content: center;
}
.menuBar {
  align-self: center;
  color: #e8bb89;
  padding: 10px;
}

.menu--container {
  display: flex;
}
.menu--item {
  align-self: center;
  padding: 10px;
  text-decoration: none;
  color: #e8bb89;
  font-family: monaco;
}
.Logo {
  text-decoration: none;
  font-family: monaco;
  color: #e8bb89;
  padding: 10px;
  align-self: center;
}

@media screen and (max-width: 961px) {
  Link {
    text-decoration: none;
    color: #e8bb89;
  }
  .navbar--mainContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
  }

  .navbar--subContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-content: center;
  }
  .menuBar {
    align-self: center;
    color: #e8bb89;
    padding: 10px;
  }
  .menu--container {
    display: flex;
    flex-direction: column;
  }
  .menu--item {
    align-self: center;
    padding: 10px;
    text-decoration: none;
    color: #e8bb89;
    font-family: monaco;
  }
  .Logo {
    text-decoration: none;
    font-family: monaco;
    color: #e8bb89;
    padding: 10px;
    align-self: center;
  }
}
